bower_components
node_modules
build
dist
Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/node_modules
/.git
/npm-debug.log
Thumbs.db
Desktop.ini
.DS_Store
node_modules
dist
.idea
