<div class="my">
  <div class="header-content">
    <label>
      <img ng-hide="user.header" ng-src="../image/my-active.png" alt="">
      <input type="file" name="" id="" file-modal="myFile" imgdata="user">
      <img ng-show="user.header" ng-src="{{user.header}}" alt="">
    </label>
    <div class="name">{{user.name}}</div>
  </div>
  <div class="list-block">
    <div class="item-block">
      <a >投递</a>
    </div>
    <div class="item-block">
      <a >收藏</a>
    </div>
  </div>
  <div class="out-block btn">退出登录</div>
</div>
<div app-foot=""></div>
